<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>

        <div class="top-header">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <div class="buscador">
                <div class="formulario-header"><input type="Buscar" name="Buscador" placeholder="Buscar Productos, Marcas"></div>
                <button class="botonforma botonsearch" type="submit"><div class="lupa"></div><i class="fa fa-search"></i></div></button>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        

        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <section>
        <img class="banner-img" src="/img/img-home-banner.jpg" alt="banner">
    </section>
    <main id="formulario-inicio">
        <form class="formularios" action="/" method="GET">
            <h3>Iniciar Sesión</h3>
            <div>
                <input type="user" name="Usuario" placeholder="Nombre De Usuario">
            </div>
            <div>
                <input type="Password" name="Contraseña" placeholder="Contraseña">
            </div>
            <div>
                <button class="botonform botonsend" type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="ordenados">
            <section>
                <div class="rectos">
                    <i class="fas fa-credit-card"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </section>
            <section>
                <div class="rectos">
                    <i class="fas fa-gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </section>
            <section>
                <div class="rectos">
                    <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </div>
            </section>
        </div> 
        <section>
            <div class="derechos">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>
</html>